* {
    /* border: 1px solid tomato; */
}

img {}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
    line-height: 100px;

    transition: 0.5s;

    border-bottom: 1px solid #aeaeae;
}

.header.on {
    background: #fff;
    line-height: 80px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header.on .gnb a {
    color: #333;
    font-weight: 600;
}

.header.on .search {
    color: #333;
}

.header.on .gnb a:hover {
    color: #333;
}

.header.on .gnb a:hover::after {
    content: "";
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 3px;
    background: #333;
    border-radius: 10px;
    z-index: 1;
}

.wrap {
    position: relative;
}



.header .header_wrap {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header .header_wrap .logo {
    display: flex;
    align-items: center;
}

.header .logo img {
    width: 160px;
}

.header .gnb {
    margin: 0 auto;
}

.header .gnb>ul {
    display: flex;
    gap: 40px;
}

.header .gnb>ul>li {
    position: relative;
}

.header .gnb>ul>li>a {
    display: inline-block;
    color: #fff;
    font-size: 16px;
}

.header .gnb>ul>li:hover::after {
    content: "";
    position: absolute;
    top: 74%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 3px;
    background: #fff;
    border-radius: 10px;
    z-index: 1;
}

.header .gnb>ul>li>a:hover {
    color: #fff;
    transition: 0.3s;
}

.header .search {
    display: inline-block;
    margin: 0 0 0 auto;
    font-size: 28px;
    color: #fff;
}

.main_visual {
    position: relative;
}

.visual_slide .slick-dots {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.visual_slide .slick-dots::after {
    content: "";
    position: absolute;
    bottom: 35px;
    left: 18px;
    width: 70px;
    height: 70px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
}

.visual_slide .slick-dots li {
    display: inline-block;
    /* position: relative; */
    width: 10px;
    height: 10px;
    background: #fff;

    margin: 0 12px;
    border-radius: 50%;
}

.visual_slide .slick-dots li.slick-active {
    top: 2px;
    width: 8px;
    height: 8px;
    border: 3px solid #ea3130;
    background: none;
    /* transition: 0.2s; */
}

.visual_slide .slick-dots li button {
    font-size: 0;
    display: none;
}

.itm::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 280px;
    background: rgba(0, 0, 0, 0.6);
    top: 32%;

    z-index: 1;
}

.main_visual {
    position: relative;
}



.main_visual .scroll {
    position: absolute;
    bottom: 160px;
    left: 50%;
    transform: translate(-50%, 0);

    font-size: 0;
    width: 24px;
    height: 38px;
    border: 2px solid #ea3130;
    border-radius: 14px;
}

.main_visual .scroll::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);

    width: 3px;
    height: 8px;
    background: #ea3130;
    border-radius: 2px;

    animation: wheel 0.7s infinite;
}

@keyframes wheel {
    0% {
        transform: translate(-50%, 0);
    }

    100% {
        transform: translate(-50%, 25%);
    }
}

.main_visual .itm {
    position: relative;
}



.main_visual .slogan {
    position: absolute;
    display: flex;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;

    z-index: 2;
}

.main_visual .slogan p {
    display: inline-block;
    font-size: 50px;
    color: #fff;
    line-height: 1.2;
    font-weight: 900;
    text-shadow: 1px 1px 0 #333;

    z-index: 999;
}

.visual_slide .itm .slogan p {
    opacity: 0;
    transform: translate(100px, 0);
}

.visual_slide .itm.on .slogan p {
    opacity: 1;
    transform: translate(0, 0);
    transition: 0.5s;
}

.main_visual .slogan span {
    position: relative;
    display: inline-block;
    margin-top: 5px;
    width: 60%;
    font-size: 16px;
    color: #fff;
    line-height: 1.7;
    text-shadow: 1px 1px 0 #333;
    margin-left: 46px;
    word-break: keep-all;

}

.main_visual .slogan span::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 50px;
    background: #fff;
    top: 5%;
    left: -4%;
}

.visual_slide .itm .slogan span {
    display: block;
    opacity: 0;
    transform: translate(100px, 0);
}


.visual_slide .itm.on .slogan span {
    opacity: 1;
    transform: translate(0, 0);
    transition: 0.5s 0.5s;
}


.main_visual .visual_slide .itm {
    height: 100vh;
}


.main_visual .visual_slide .itm01 {
    background: url(../images/main01.jpg)no-repeat center center/cover;
}

.main_visual .visual_slide .itm02 {
    background: url(../images/main02.jpg)no-repeat center center/cover;
}

.main_visual .visual_slide .itm03 {
    background: url(../images/main03.jpg)no-repeat center center/cover;
}

.main_content {
    position: relative;
    width: 100%;
    padding: 100px 0;
    background: url(../images/bg_main1.jpg)no-repeat center center/cover;
}

.main_content::after {
    content: url(../images/hanshin_img.png);
    position: absolute;

    bottom: -20px;
    left: 19%;

    z-index: 666;
}

.main_content_right {
    overflow: hidden;
}


.main_content_right figure {
    width: 100%;
}



.main_content_right figure img {
    margin: 0 0 0 auto;
}

.main_content_left {
    position: absolute;
    top: 26%;
    left: 50%;
    width: 720px;
    height: 450px;
    background-image: url(../images/main_content01.jpg);
    object-fit: cover;
    z-index: 999;

    margin: 0 0 0 -600px;
}

.main_content_left .left_text {
    padding: 40px 60px;
}

.main_content_left .left_text strong {
    display: block;
    margin: 0 0 10px 0;
    font-size: 26px;
    font-weight: 700;
    color: #ea3130;
}

.main_content_left .left_text span {
    display: block;

    font-size: 38px;
    font-weight: 800;
    /* width: 400px; */
    line-height: 1.3;
    margin: 0 0 170px 0;
}

.main_content_left .left_text p {
    position: absolute;
    display: block;
    font-size: 16px;
    line-height: 1.5;
    bottom: 60px;
}

.main_right_slide .slick-arrow {
    position: absolute;
    top: 49%;
    left: 50%;


    transform: translate(-50%, -50%);
    z-index: 9999;

    border: none;
    background: transparent;
    font-size: 0;

    width: 20px;
    height: 20px;
    border-top: 4px solid #333;
    border-left: 4px solid #333;
}

.main_right_slide .slick-prev {
    left: 22%;
    transform: translate(0, -50%) rotate(-45deg);
    cursor: pointer;

}

.main_right_slide .slick-next {
    left: 52%;
    transform: translate(0, -50%) rotate(135deg);
    cursor: pointer;
}


.main_right_slide .slick-dots {
    position: absolute;
    top: 420px;
    left: 410px;
    /* margin: 0 0 0 -585px; */
    z-index: 9999;
}

.main_right_slide .slick-dots>li {
    display: inline-block;
    margin: 0 7px 0 0;
}

.main_right_slide .slick-dots>li button {
    border: none;
    width: 20px;

    height: 20px;
    background: transparent;
    color: #ffffff;
    background: #ea3130;
    font-size: 14px;
    border-radius: 50%;
    cursor: pointer;
}

.main_right_slide .slick-dots>li button.on {
    background: #333;
}

.main_content_left .left_text li {
    visibility: hidden;
    height: 0;
}

.main_content_left .left_text li.on {
    visibility: visible;
    height: auto;
}

.main_info {
    position: relative;
    padding: 100px 0;
    background: url(../images/bg_main2.png)no-repeat center center/cover;
}

.main_info .info_itm figure img {
    width: 615px;
    height: 350px;
    object-fit: cover;
}


.main_info .inner {
    display: flex;
}

.main_info .info_itm {
    position: relative;

}

.main_info .info_arrow {
    position: absolute;
    padding: 6px;
    bottom: 2%;
    right: -80px;

    transition: 0.5s;
}


.main_info .info_arrow.on {
    right: -98px;
}

.main_info .inner .info_text {
    margin: 0 0 0 28px;
}

.main_info .info_text span {
    display: block;
    width: 500px;
}

.main_info .inner p {

    font-size: 38px;
    font-weight: 800;
    color: #fff;
    line-height: 1.3;
    margin: 0 0 28px 0;
}

.main_info .inner span {
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
}

.notice {
    box-sizing: border-box;
    /* border-bottom: 3px solid #ea3130; */
}

.notice_wrap {
    display: flex;
    border-bottom: 3px solid #ea3130;
}


.notice_wrap img {
    vertical-align: top;
}

.notice_left {
    position: relative;
}


.notice_left .notice_text_left {
    position: absolute;
    top: 38%;
    left: 57%;
    transform: translate(-50%, -50%);
}


.notice .notice_left_arrow {
    position: absolute;
    top: 68%;
    left: 36%;

    transition: 0.5s;
}


.notice .notice_left_arrow.on {
    left: 38%;
}

.notice_left .notice_text_left h3 {
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    margin: 0 0 20px 0;
}

.notice_left .notice_text_left p {
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
}

.notice_right {
    position: relative;
}

.notice .notice_right_arrow {
    position: absolute;
    top: 68%;
    left: 88px;

    transition: 0.5s;
}


.notice .notice_right_arrow.on {
    left: 102px;
}


.notice_right .notice_text_right {
    position: absolute;
    top: 38%;
    left: 35%;
    transform: translate(-50%, -50%);
}

.notice_right .notice_text_right h3 {
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    margin: 0 0 20px 0;
}

.notice_right .notice_text_right p {
    display: inline-block;
    width: 500px;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
}

.footer {
    padding: 60px 0;
    background: #333;
}

.footer_wrap {
    position: relative;
    display: flex;
    gap: 30px;
}


.footer_wrap p {
    display: block;
    width: 500px;
    color: #a2a2a2;
    font-size: 14px;
    line-height: 1.5;
}

.footer_wrap .family_site {
    display: block;
    margin: 0 0 0 auto;
}

.footer_wrap .family_site select {
    padding: 6px;
    background: #adadad;
    border: none;
    color: #333;
}

.footer_wrap .family_site select option:hover {
    color: #fff;
}


.to_top {
    position: fixed;
    bottom: 150px;
    right: -150px;

    cursor: pointer;
    border: none;
    background: transparent;

    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.to_top.on {
    opacity: 1;
    visibility: visible;
    right: 150px;
}

.to_top i {
    padding: 18px;
    border-radius: 50%;
    background: #ea3130;
    color: #fff;
    font-size: 24px;
    box-shadow: 1px 1px 0 #333;
}

.popup_wrap {
    position: relative;
    width: 100%;
    height: 100%;
}

.popup_view {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    background: #ffffff;
    box-shadow: 1px 1px 0 #333;
    z-index: 1000000;
}

.popup_view strong {
    display: block;
    background: #ea3130;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}


.popup_view p {
    display: block;
    padding: 20px;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

.popup_view img {
    width: 400px;
    height: 280px;
    object-fit: cover;
    margin-bottom: 14px;
}

.popup_view .popup_btn {
    display: flex;
    justify-content: center;
}


.popup_close {
    display: inline-block;
    padding: 6px 10px;
    background: #333;
    color: #fff;
    cursor: pointer;
}